<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>





	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />




	<style>
		html {
			font-size: 1rem;
		}

		@media (min-width: 576px) {
			html {
				font-size: 1.25rem;
			}
		}

		@media (min-width: 768px) {
			html {
				font-size: 1.5rem;
			}
		}

		@media (min-width: 992px) {
			html {
				font-size: 1.75rem;
			}
		}

		@media (min-width: 1200px) {
			html {
				font-size: 2rem;
			}

			html {
				font-size: 1rem;
			}

			h1 {
				font-size: 1.2rem;
			}

			h2 {
				font-size: 1.1rem;
			}

			@media (min-width: 768px) {
				html {
					font-size: 1.1rem;
				}

				h1 {
					font-size: 1.3rem;
				}

				h2 {
					font-size: 1.2rem;
				}
			}

			@media (min-width: 991px) {
				html {
					font-size: 1.2rem;
				}

				h1 {
					font-size: 1.5rem;
				}

				h2 {
					font-size: 1.4rem;
				}
			}

			@media (min-width: 1200px) {
				html {
					font-size: 1.2rem;
				}

				h1 {
					font-size: 1.7rem;
				}

				h2 {
					font-size: 1.6rem;
				}
			}

		}
	</style>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>

	</body>
	<!-- css files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" integrity="sha384-42kyIPf7HDYLkGffmxDhSx/3Z/53wGBs3nD6wEFxsbeDc7rMO6mkYbkAcpRsnMU2" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
	<!-- bootstrap css -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
	<!-- custom css -->
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
    <link href="{{url_for('static', filename='css/css.css')}}" rel='stylesheet' type='text/css'/>
	<!-- <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png?') }}"> -->


	<script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>
<script type="text/JavaScript" src="{{url_for('static', filename='scripts/mains.js')}}"></script>
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese"
		rel="stylesheet">
	<!-- //google fonts -->

	<style>
		header {
			background-color: rgba(30, 30, 30, 1);
			margin-top: 0rem;
			display: block;

		}
	</style>
</head>

<body>

	<!-- Navigation -->
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="bx bx-user nav_icon" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Agrotech</span> </a>
                <div class="nav_list">
                    <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                    <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Home</span> </a>
                    <a href="http://127.0.0.1:5000/fertilizer" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Fertilizer prediction</span> </a>
                    <a href="http://127.0.0.1:5000/disease-predict" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Disease</span> </a>
                    <!-- <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a>
                    <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a> -->
                </div>
            </div>
            <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <div class="height-100 bg-light">
        <!--Container Main end-->
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="background-color: #1C00ff00;">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('home') }}">
				<img src="{{ url_for('static', filename='images/logo.jpg') }}" style="width: 90px; height: 55px" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('home') }}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('crop_recommend') }}"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('fertilizer_recommendation') }}"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('disease_prediction') }}"></a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:5000/disease-predict"></a>
					</li>

				</ul>
			</div>
		</div>
	</nav>




	{% block body %} {% endblock %}

	<!-- footer -->
	<footer class="text-center py-5">
		<div class="container py-md-3">
			<!-- logo -->
			<h2 class="logo2 text-center">
				<a href="{{ url_for('home') }}">
					AgroFarm
				</a>
			</h2>
			<!-- //logo -->
			<!-- address -->
			<div class="contact-left-footer mt-4">





				<!-- <a href="community.html">Community</a> -->
				</p>
			</div>
			<div class="w3l-copy text-center">
				<p class="text-da">An Environmental Intelligence Startup<br> </p>
			</div>
			<p class="homelogo">
			<p>Made with ❤️ by Naman</p>
			<p>&copy; Copyright 2021 Naman Garg</p>

		</div>
	</footer>
	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
</div>
	<!-- //move top icon -->
</body>

</html>
